/*header*/
.omnifood-logo {
  height: 2.2rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fdf2e9;
  height: 9.6rem;
  padding: 0 4.8rem;
}

.main-nav-list {
  list-style: none;
  display: flex;
  gap: 3.2rem;
  align-items: center;
}

.main-nav-link:link,
.main-nav-link:visited {
  color: #333;
  font-weight: 700;
  font-size: 1.8rem;
}
.main-nav-link:hover,
.main-nav-link:active {
  color: #cf711f;
  transition: all 1.5s;
}
.main-nav-link.last-one:link,
.main-nav-link.last-one:visited {
  color: #fff;
  background-color: #e67e22;
  border-radius: 9px;
  padding: 1.3rem 3rem;
}
.main-nav-link.last-one:hover,
.main-nav-link.last-one:active {
  background-color: #cf711f;
}
